:root {
  --le-gray-1: hsl(0, 0%, 99%);
  --le-gray-2: hsl(0, 0%, 97.3%);
  --le-gray-3: hsl(0, 0%, 95.1%);
  --le-gray-4: hsl(0, 0%, 93%);
  --le-gray-5: hsl(0, 0%, 90.9%);
  --le-gray-6: hsl(0, 0%, 88.7%);
  --le-gray-7: hsl(0, 0%, 85.8%);
  --le-gray-8: hsl(0, 0%, 78%);
  --le-gray-9: hsl(0, 0%, 56.1%);
  --le-gray-10: hsl(0, 0%, 52.3%);
  --le-gray-11: hsl(0, 0%, 43.5%);
  --le-gray-12: hsl(0, 0%, 9%);
}
