@primary-color: rgb(59, 130, 246);
@theme-bg-color: rgba(59, 130, 246, 0.1);
@background-color: #fff;
@background-hover-color: #f5f6f8;
@light-bg-color: #f5f6f8;
@gray-color: #c1c7d0;
@border-color: #dadee3;
@text-color: #2e405e;
@text-muted-color: #909aaa;


@table-bar-bg-color: #F5F6F8;
@table-grid-bg-color: #F5F6F8;
@table-grid-active-bg-color: @theme-bg-color;
@table-grid-active-border-color: @primary-color;